@media all and (max-width: 1199px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 991px) {
}
@media all and (max-width: 767px) {
  .icsm-cont {
    padding: 50px 10px;
    text-align: center;
  }
  .stories-row::before,
  .link-box {
    display: none;
  }
  .sertabbox {
    padding: 15px;
    text-align: center;
  }
  .abt-heading {
    width: 100%;
    padding-left: 0rem;
    text-align: center;
  }
  .main-heading h3 {
    font-size: 36px;
  }
  .test-img {
    display: none;
  }
  .ban-cont h1,
  .ban-cont h1 span {
    font-size: 40px;
  }
  section.gallery-sec {
    text-align: center;
  }
  section.test-sec {
    text-align: center;
  }

  section.faq-sec {
    text-align: center;
  }
  .abt-img-box {
    margin-top: 1rem;
    height: 500px;
    position: relative;
    top: 0;
    width: 100%;
  }
  .abt-cont {
    padding-left: 0rem;
    text-align: center;
  }
  .abt-cont {
    padding-left: 0;
  }
  footer.footer-sec {
    text-align: center;
  }
  .ban-cont {
    text-align: center;
  }
  .stories-box.stories-cont-inner .stories-img {
    width: 300px;
    height: 300px;
  }
  .stories-cont-inner .stories-cont {
    text-align: center;
  }
  .serboximg-inner img {
    position: relative;
    height: 430px;
  }
  .serbox-inner-cont {
    text-align: center;
  }
  .serbox-inner-cont .serboxicon {
    top: 0;
  }
  .serbox-inner-cont .serboxcont h3 {
    font-size: 36px;
  }
  .serbox-inner {
    margin: 1rem 0;
    padding: 10px;
  }
}
@media all and (max-width: 567px) {
}
@media all and (max-width: 414px) {
}
@media all and (max-width: 320px) {
}
